{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fantasy Costco</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
  </head>
  <body>
    <header class="base-header">
      <img
        src="{% static 'storefront/fantasy-costco-logo.png' %}"
        id="logo"
        alt="Fantasy Costco Logo"
      />
      <div class="search-bar-set">
        <input type="text" placeholder="search currently disabled" id="search-bar"/>
        <input type="button" value="search" />
      </div>
      {% if user.is_authenticated %}
      <div class="user-bar">
        <span>
          <a href="{% url 'profile' user.username %}"
            >Hello {{user.username}}</a
          >
        </span>
        <span>|</span>
        <span>
          <a href="{% url 'logout' %}">Logout</a>
        </span>
        <span>|</span>
        <span>
          <a href="{% url 'password_reset' %}">Reset Password</a>
        </span>
      </div>
      {% else %}
      <div class="user-bar>">
        <span>
          <a href="{% url 'login' %}">Login</a>
        </span>
        <span>|</span>
        <span>
          <a href="{% url 'signup' %}">SignUp</a>
        </span>
      </div>
      {% endif %}
    </header>
    <div class="side-bar"></div>
    {% block content %} {% endblock %}

    <footer>TBD</footer>
  </body>
</html>
