/* Elements */
h1 {
    color: darkred
}



/* Classes */
.base-header{
    padding: 1em;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.card-content {
    background-color: lightpink;
    margin: 1em;
}

.search-bar {
    background-color: darkcyan;
    padding: .25em;
    display: flex;
    align-items: center;
}

.user-bar {
    background-color: coral;
    padding: .325em;
    display: flex;
    align-items: center;
}



/* IDs */
#logo {
    max-width: 20em;
    max-height: auto;
    margin: .5em;
}