{% extends 'base.html' %} {% load static %} {% block content %}
<div class="show-page">
  <h3>Name: {{potion.name}}</h3>
  <p>description: {{potion.description}}</p>
  <p>Price: {{potion.price}}</p>
  <p>Created by: {{potion.created_by}}</p>

  {% if potion.created_by.id == user.id %}
  <div class="link-collection">
    <a href="{% url 'potion-update' potion.id %}">Update Potion Details</a>
    <a href="{% url 'potion-delete' potion.id %}">DELETE THIS POTION</a>
  </div>
</div>
{% else %} {% endif %} {% endblock %}
