{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Name: {{adventuregear.name}}</h3>
<p>description: {{adventuregear.description}}</p>
<p>Price: {{adventuregear.price}}</p>
<p>Created by: {{adventuregear.created_by}}</p>


{% if adventuregear.created_by.id == user.id %}
<div class=link-collection>
<a href="{% url 'adventuregear-update' adventuregear.id %}">Update Adventure Gear Details</a>
<a href="{% url 'adventuregear-delete' adventuregear.id %}">DELETE THIS ADVENTURE GEAR</a>
</div>
{% else %}
{% endif %}

{% endblock %}